p {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px 0px 8px 8px;
    margin:8px;
    width:47%;
    display: inline-block;
    position: relative;
    
    

  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }