
  .topnav {
    background-color: #99938F;
    overflow: hidden;
    border-bottom:11px solid #ff6600;

  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #ff6600;
    color: white;
  }

  footer {

    margin-top: 30px;
    width: 100%;
    background-color: #ff6600;
    color: white;
    padding-bottom: 10px;
    text-align: left;
  
  }

  

@import url(https://fonts.googleapis.com/css?family=Poppins:300,700);
.sport {

  font-family: 'Poppins:400,700', Arial, sans-serif;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 8px;
  min-width: 250px;
  max-width: 500px;
  width: 100%;
  background-color: #000000;
  color: #ffffff;
  text-align: left;
  font-size: 16px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
.sport * {
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.sport img {
  max-width: 100%;
  vertical-align: top;
}
.sport figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.8) 0%, transparent 100%);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, transparent 100%);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.sport h3 {
  font-size: 44px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 3px 0;
}
.sport .title1 {
  font-weight: 700;
}

.sport a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.sport:hover img,
.sport.hover img {
  -webkit-transform: scale(1.2) rotate(3deg);
  transform: scale(1.2) rotate(3deg);
}

body {
  text-align: center;
}

/* text table activities */
p {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px 0px 8px 8px;
  margin:8px;
  width:47%;
 
  position: relative;
  
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

h1 {
   padding-top: 20px;
    font-weight: bold;
    font-size: 28px;
    color: black;
    font-family: sans-serif;
    font-weight: 300;
}