.topnav {
    background-color: #99938F;
    overflow: hidden;
    border-bottom:11px solid #ff6600;

  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #ff6600;
    color: white;
  }

  footer {

    margin-top: 30px;
    width: 100%;
    background-color: #ff6600;
    color: white;
    padding-bottom: 10px;
    text-align: left;
  
  }
  

  strong {
    font-weight: 600;
  }
  h1 {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1.5px;
    color: #333333;
    font-weight: 100;
    font-size: 2.4em;
  }
  #content {
    margin-top: 50px;
    text-align: center;
  }
  /* Timeline */
  #timeline {
    border-left: 4px solid #ff6600;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    background: rgba(255, 255, 255, 0.03);
    color: #333;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 50px auto;
    letter-spacing: 0.5px;
    position: relative;
    line-height: 1.4em;
    font-size: 1.03em;
    padding: 30px;
    list-style: none;
    text-align: left;
    font-weight: 1;
    max-width: 50%;
  }
  #timeline h1,
  #timeline h2,
  #timeline h3 {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1.5px;
    font-weight: 100;
    font-size: 1.4em;
  }
  #timeline .event {
    border-bottom: 1px dashed #ff6600;
    padding-bottom: 25px;
    margin-bottom: 50px;
    position: relative;
  }
  #timeline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
  }
  #timeline .event:before,
  #timeline .event:after {
    position: absolute;
    display: block;
    top: 0;
  }
  #timeline .event:before {
      white-space: pre-line;
    left: -217.5px;
    color: #717171;
    content: attr(data-date);
    text-align: right;
    font-weight: 400;
    font-size: 0.9em;
    min-width: 120px;
  }
  #timeline .event:after {
    box-shadow: 0 0 0 4px #ff6600;
    left: -57.85px;
    background: #99938F;
    border-radius: 50%;
    height: 11px;
    width: 11px;
    content: "";
    top: 5px;
  }
  @media (max-width: 800px) {
  
    #timeline .event:before {
      left: -0.5px;
      top: 28px;
      background-color: #ff6600;
      color: white;
      margin-top: 8px;
      padding: 2px 8px 2px 8px;
      content: attr(data-date);
      text-align: right;
      font-weight: 400;
      font-size: 0.9em;
      min-width: 120px;
    }
    #timeline .event p {
        top: 27px;
        padding: 10px 0px 10px 0px;
        position: relative;
    }
  }

  