a {
  text-decoration: none;
}

.purchase {
  padding:89px 0 0;
  text-align:center;
  font-family: "Lato";
}
.purchase h1 {
  font-size:26px;
  letter-spacing:3px;
  line-height:40px;
  text-transform:uppercase;
}
.purchase p {
  font-size: 26px;
  line-height: 45px;
  max-width:750px;
  margin:0 auto;
}
.purchase-trigger {
  margin-top:30px;
  border:1px solid #ff6600;;
  border-radius:50px;
  font-size:26px;
  display:inline-block;
  cursor:pointer;
  position:relative;
}

.purchase-trigger span {
  padding:17px 80px;	
  color:#ff6600;;
  width:246px;
  display: inline-block;
}
.purchase-trigger .bubble {
  position:absolute;
  background:#ff6600;;
  top:0;
  border-radius:50px;
  left:0;
  height:74px;
  width: 246px;
  z-index:-1;
}

/*Size of the boxes*/
.purchase ul {
  display:table;
  margin:70px auto 0;
  width:100%;
  max-width:900px;

}

/*Alignment of the blocks side by side*/
.purchase li {
  display:table-cell;
  width:33.333%;
  padding:43px 0 0;
  position:relative;
  z-index:0;
  border:1px solid #BBB;
}

/*Hover for the blocks*/
.purchase li:hover {
  box-shadow: 0 13px 48px rgba(0, 0, 0, 0.2);
  z-index:1;
  color:#fff;
  background:#ff6600;;
  border-color:#ff6600;;
  -webkit-transform:scale(1.05);
}


/*header text of each block*/
.purchase li strong {
  font-size:19px;
  text-transform:uppercase;
  color:#2F3740;
  letter-spacing:2.4px;
  line-height:45px;
  font-weight:400;
  margin-bottom: 25px;
  display: inline-block;
}

/*The text within the block*/
.purchase ul .purchase-description {
  display:block;
  font-size:19px;
  line-height:30px;
}
/*Price tag*/
.purchase .purchase-price {
  font-size:84px;
  letter-spacing:2px;
  padding-top:20px;
  display:block;
  font-weight:400;
  padding-bottom:12px;
}
/*Buy Now Button*/
.purchase .purchase-button {
  text-transform:uppercase;
  font-size:19px;
  color:#2F3740;
  text-decoration:none;
  line-height:1;
  padding:28px 0 24px;
  border-top:1px solid #bbb;
  width:100%;
  display:inline-block;
  margin-top:6px;
  display:block;
}

/*All of the text within the block*/
.purchase ul a, .purchase ul a:hover .purchase-price, .purchase ul a:hover .purchase-description {
  color:#6C6C6C;
}


.topnav {
  background-color: #99938F;
  overflow: hidden;
  border-bottom:11px solid #ff6600;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #ff6600;
  color: white;
}

footer {

  margin-top: 30px;
  width: 100%;
  background-color: #ff6600;
  color: white;
  padding-bottom: 10px;


}