body {
    background: black;
}

#buttons {
    padding-left: 50px;
    padding: 20px;
    margin-top: 20px;
}

.container {
    background-color: #fef3f2;
    size: A4;
    margin-top: 30px;
 }

.container .title {
    border-color: black;
    color: #2E8B57;
    font-size: 40px;
}


.container footer {
    text-align: center;
    color: black;
    border-top: 1px solid #aaa;
    font-size: 40px;
    padding: 8px 0
}

.topnav {
    background-color: #99938F;
    overflow: hidden;
    border-bottom:11px solid #ff6600;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #ff6600;
    color: white;
  }