body
{ 
    margin: 0;
    padding: 0;
    background: #efefef;
    font-size: 16px;
    color: #777;
    font-family: sans-serif;
    font-weight: 300;
   
}

h1
{
    margin-left: 140px ;
    font-weight: bold;
    font-size: 28px;
 
}

#create-user {
    margin-top: 10px;
    position: relative;
    margin: 5% auto;
    height: 350px;
    width: 400px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  }
  
  form {
    left: 50%;
    margin-left: 50px;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 300px;
    height: 900px;
  }

  .textInput {
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 4px;
    width: 220px;
    height: 32px;
    border: none;
    outline: none;
    border-bottom: 1px solid #aaa;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;
  }


  .btn {
    margin: 0 0 20px 40px;
    margin-bottom: 28px;
    width: 120px;
    height: 32px;
    background: #ffb366;
    border: none;
    border-radius: 2px;
    color: #fff;
    font-family: sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.2s ease;
    cursor: pointer;
  }

.btn:hover 
{
    background: #ff6600;
    transition: 0.2s ease;
}