/* Add a black background color to the top navigation */
.topnav {
  background-color: #99938F;
  overflow: hidden;
  border-bottom:11px solid #ff6600;

}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #ff6600;
  color: white;
}

/* Add stuff to the image*/
.img {
  width:100%;
  height:auto;
  padding-top: 10px;

}

footer {

  margin-top: 30px;
  width: 100%;
  background-color: #ff6600;
  color: white;
  padding-bottom: 10px;

}

th, td {
  padding: 10px;
  font-family: 'CustomFont', Arial, sans-serif;
  font-weight:normal;
  font-style:normal;
  height: 50px;
  text-align: center;
  border-bottom: 1px solid #99938F;
}

h2 {
  font-family: 'CustomFont', Arial, sans-serif;
  font-weight: bold;
  font-style:normal;
}

table {
  width: 400px;
}

